html{
    height: 100%;
    min-height: 100%;
}
body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction : column;
    height: 100%;
    background-color: aliceblue;

}
p{
    text-align: center;
}

div.principal{
    width: 30%;
    margin: 60px auto;
    height: auto;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;
    background: linear-gradient(#BA55D3, 	#FF00FF);
    border-radius: 20px;
}

div{
    margin: 5px;
    width: 50%;
}

input{
    background: linear-gradient(#BA55D3, 	#FF00FF);
    border: none;
    border-top: 4px solid antiquewhite;
    border-bottom: 4px solid antiquewhite;
    border-radius: 10px;
}

button.principal{
    margin: 0;
    padding: 5px;
    width: 87%;
    background-color: #FF1493;
    color:antiquewhite;
}

div.contendor-botones{
    background-color: aliceblue;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction : row;
}

div.contendor-botones div{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction : column;
}
button.clasificadores{
    margin: 30px;
    background-color:bisque;
    text-align: center;
    padding: 30px;
    border: 20px solid aliceblue;
    border-radius: 100px;
}


